 /* @media (max-width: 1500px) {
     html{
         max-width: 100%;
         flex-wrap: wrap;
     }
     
    
} */
/*     
@media (max-width: 992px) {
    html{
        max-width:100%;
        display: grid;
     flex-wrap: wrap;
    }
    
}



@media (max-width: 768px) {
    html{
        max-width: 100%;
        display: grid;
     flex-wrap: wrap;
    }
}
    
@media (max-width: 720px) {}
html{
    max-width: 100%;
    display: grid;
     flex-wrap: wrap;
}

@media (max-width: 425px) { 
    html{
        max-width: 100%;
        display: grid;
     flex-wrap: wrap;
    }
    

} 
@media (max-width: 320px) { 
    html{
        max-width: 100%;
        display: grid;
     flex-wrap: wrap;
    }
     */

/* }  */